################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Raw Sensor Data Sample/C#/sdkRawSensorDataCS/Bin/Debug
/Raw Sensor Data Sample/C#/sdkRawSensorDataCS/obj/Debug
/Raw Sensor Data Sample/C#/sdkRawSensorDataCS/obj/Debug
/Accelerometer sensor sample (Windows 8)/C#/bin/Debug
/Accelerometer sensor sample (Windows 8)/C#/obj/Debug
/Accelerometer sensor sample (Windows 8)/C#/packages/Rx-Core.2.1.30214.0
