<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="fb048120-9667-496f-9774-3c053cddc984"
            Publisher="CN=donnam"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>StockTiles</DisplayName>
    <PublisherDisplayName>donnam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

   <Prerequisites>
      <OSMinVersion>6.2.1</OSMinVersion>
      <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
   </Prerequisites>

   <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="StockTiles.App">
        <VisualElements
            DisplayName="StockTiles"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="StockTiles"
            ForegroundText="light"
            BackgroundColor="#464646">
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>